!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title GuestBook App
    link(rel='stylesheet', href='/css/bootstrap.css', type='text/css' )
  body(style="padding-left:50px;")
    block body
